.benefit-cards {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

h5 {
    font-size: 28px;
    font-weight: 600;
    color: #0f0f0f;
    margin-top: 10px;
    padding-right: 40px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 10px;
    padding-right: 40px;
}

img {
    cursor: pointer;
    filter: grayscale(10%) sepia(30%) blur(1px) brightness(90%) saturate(150%);
    -webkit-filter: grayscale(10%) sepia(30%) blur(1px) brightness(90%) saturate(150%);
    -moz-filter: grayscale(10%) sepia(30%) blur(1px) brightness(90%) saturate(150%);
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

img:hover {

    filter: none;
}

@media only screen and (max-width: 600px){
    img{
        width: 300px;
        height: 350px;
    }
}