<section class="form-section">

    <div class="form-text">
        <h3>Inscreva-se para Receber Novidades do Café Verde!</h3>
        <p>Como assinante da nossa newsletter, você será o primeiro a saber sobre lançamentos de produtos, promoções
            especiais e eventos. Além disso, você terá acesso a conteúdos exclusivos, incluindo entrevistas com nossos
            parceiros de agricultura sustentável, histórias inspiradoras de comunidades produtoras de café e muito mais.
        </p>
    </div>

    <form>
        <label for="name">Nome</label>
        <input id="name" type="text">

        <label for="email">E-mail</label>
        <input id="email" type="text">

        <button>Assinar</button>
    </form>

</section>