<app-header />
<main>
    <section class="main-section">
        <div class="headline">
            <span>Lorem, ipsum</span>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quia!.</h1>
        </div>
        <img ngSrc="../../../assets/3d-business-young-man-holding-coffee-and-laptop.png" width="669" height="533">
    </section>
    <section class="benefit-section">
        
        <div class="benefit-data">
            <h3>Lorem, ipsum <br/>
                dolor.</h3>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <b>Beatae, adipisci</b>. Assumenda
            corporis sunt nulla facere.</p>
    </section>
</main>