<app-header />
<main>

    <section class="main-section">
        <div class="headline">
            <span>Café Verde & CO.</span>
            <h1>Ao preparar uma xícara de Café Verde, você é transportado para os campos de café onde os grãos foram
                cultivados com amor e respeito pela natureza.</h1>
        </div>
        <img ngSrc="../../../assets/3d-business-young-man-holding-coffee-and-laptop.png" width="630" height="470">
    </section>

    <section class="benefit-section">

        <div class="benefit-data">
            <h2>25 milhões <br>de sacos de café 60 kg cada</h2>
        </div>

        <q>São produzidos anualmente em todo o mundo, utilizando agrotóxicos sintéticos. Isso corresponde a
            aproximadamente 300 mil toneladas de produtos químicos aplicados nas plantações de café a cada ano.</q>
    </section>

    <section class="cta-section">
        <app-button-primary />
    </section>


    <app-newsletter-form />

    <section class="benefit-section">
       <app-benefit-card    card-title="Grãos cuidadosamente selecionados"
       img-path="/assets/cup-fresh-coffee-table.jpg"
       card-description="Nossos blends exclusivos são criados por especialistas que dominam a arte da torrefação, buscando extrair o máximo de sabor e aroma de cada grão..."
       >
       </app-benefit-card>

       <app-benefit-card    card-title="O cultivo orgânico de café"
       img-path="/assets/hands-that-carry-coffee-beans.jpg"
       card-description="Apenas uma pequena porcentagem da produção mundial de café é orgânica, representando cerca de 5% a 10% do mercado global de café..."
       >
       </app-benefit-card>

     

    </section>

    <app-footer />

</main>