<app-header />
<main>

    <section class="main-section">
        <div class="headline">
            <span>Café Verde & CO.</span>
            <h1>Ao preparar uma xícara de Café Verde, você é transportado para os campos de café onde os grãos foram cultivados com amor e respeito pela natureza.</h1>
        </div>
        <img ngSrc="../../../assets/3d-business-young-man-holding-coffee-and-laptop.png" width="630" height="470">
    </section>

    <section class="benefit-section">

        <div class="benefit-data">
            <h2>25 milhões <br>de sacos de café 60 kg cada</h2>
        </div>

        <q>São produzidos anualmente em todo o mundo, utilizando agrotóxicos sintéticos. Isso corresponde a aproximadamente 300 mil toneladas de produtos químicos aplicados nas plantações de café a cada ano.</q>
    </section>

    <section class="cta-section">
        <app-button-primary />
    </section>


    <app-newsletter-form />

    <section></section>
</main>